<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
        integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Document</title>

    <style>
        .middle-content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 350px;
            width: 100vw;
            height: 100vh;
            background-color: #eeeeee;
            /* border: 1px solid red; */
        }

        .card-center {
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;
            padding: 20px;
        }

        form {
            width: 100%;
        }

        #image_view {
            break-inside: avoid;
            margin-top: 20px;
            width: 566px;
            height: 360px;
            object-fit: contain;

        }
    </style>
</head>

<body>
    <div class="contain">

        <div class="sidemenu">
            <div class="title">
                <!-- <h1>Travelogram</h1> -->
                <img src="{% static 'img/Travelogram.png' %}" alt="">
            </div>

            <div class="menu-item">
                <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i>
                    <p class="item-text">Home</p>
                </a>
            </div>
            <div class="menu-item">
                <a href=""><i class="fa-solid fa-magnifying-glass"></i>
                    <p class="item-text">Search</p>
                </a>
            </div>
            <div class="menu-item">
                <a href=""><i class="fa-solid fa-ranking-star"></i>
                    <p class="item-text">Leaderboard</p>
                </a>
            </div>
            <div class="menu-item">
                <a href="{% url 'post:create_post' %}"><i class="fa-solid fa-square-plus"></i>
                    <p class="item-text">Create</p>
                </a>
            </div>
            <div class="menu-item">
                <a href="">
                    <div class="profile-image">
                        <img src="https://pbs.twimg.com/profile_images/1310512844954370048/W5NEr-3W_400x400.jpg"
                            alt="" />
                        <p class="item-text">Profile</p>
                    </div>
                </a>
            </div>

            <div class="menu-item-bottom">
                <a href=""><i class="fa-solid fa-gear"></i>
                    <p class="item-text">Settings</p>
                </a>
                <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>
                    <p class="item-text">Logout</p>
                </a>
            </div>
        </div>


        <div class="middle-content">
            <div class="card-center">
                <form class="ui form" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field">
                        <label>Caption</label>
                        <textarea name="caption" id="" cols="30" rows="10" placeholder="caption"></textarea>
                    </div>




                    <div class="field">
                        <label for="cars">Privacy:</label>
                        <select id="privacy" name="privacy">
                            <option value="1">Public</option>
                            <option value="2">Followers</option>
                            <option value="3">Private</option>
                        </select>
                    </div>


                    <div class="field">
                        <input accept="image/*" type='file' id="imgInp" name="image" />
                        <img id="image_view" src="#" alt="image" />
                    </div>
                    <button class="ui button" type="submit">POST</button>
                </form>
            </div>
        </div>


    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
        integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                image_view.src = URL.createObjectURL(file)
            }
        }
    </script>
</body>

</html>